$background-main-color: #0e1b31;
$white-main: #fff;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-main-color;
  color: $white-main;
}
.First-Letter-Uppercase::first-letter {
  text-transform: uppercase;
}


